<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Bracks Blog {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header__logo logo">
                <span>Bracks_Blog</span>
            </div>
            <nav class="header__main_menu main_menu">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="{% url 'blog:about' %}">Об авторе</a></li>
                    {% for category in categories %}
                    <li>{{ category.title }}</li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="header__search-panel">
                <form action="">
                    <input type="text">
                    <input type="submit" value="Поиск">
                </form>
            </div>
        </header>
        <main class="main-block">
            <section class="content">
            {% block content %}{% endblock %}
            </section>
        </main>
    </div>
</body>
</html>