{% extends 'base.html' %}

{% block title %}Пару слов о себе.{% endblock %}

{% block content %}
        <section class="article-content">
            <article class="article">
                <h2>Всем привет!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam beatae corporis esse, magni qui quibusdam quidem recusandae veniam voluptatum! Asperiores debitis dolore dolorum ducimus expedita laudantium neque nihil similique?</p>
            </article>
        </section>
{% endblock %}