:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1720px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.main_menu ul li {
    display: inline-block;
    list-style: none;
}

.main_menu ul li + li {
    margin-left: 1.5em;
}

.main-block {
    display: flex;
}

.content {
    flex-basis: 70%;
}

.aside {
    flex-basis: 30%;
}

.aside